@import "../core/index.css";
@import "./scrollbar.css";
@import "../../_layout_components/header.css";
@import "../../_layout_components/footer.css";

/* global css for CSSTransitions package. */
/* This package requires naming conventions that are incompatiable with css-modules */
@import "../cssTransitions/index.css";

:root {
  overflow-x:hidden;
  scroll-behavior: smooth;
  background: linear-gradient(var(--clr-100), #FFF);
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}

#App {
  width: var(--app-width);
  /* height: 200vh; */
  margin: auto;
  position: relative;
  border-left: 9px solid pink;
  border-right: 9px solid pink;
  background-color: white;
  /* box-shadow: 0 0 15px black; */
  box-shadow: 0 0 15px var(--clr-300);
}

.pages-container {
  padding: 2rem 0 28rem 0;
  min-height: 100vh;
}

/* 

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
