.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--clr-350);
  text-align: center;
  font-size: var(-fs-300);
  color: var(--clr-800);
  display: flex;
  flex-direction: column;
  min-height: 100px;
  padding: 1rem 0 0rem 0;
}

.footer-section1 {
  display: flex;
  justify-content: space-around;
  flex: 1 1 auto;
  padding: 3rem 0 3rem 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left-top {
  display: flex;
  flex: 1 1 0;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem 0 2rem 0;

}

.footer-right {
 
}

.kingpin-card {
  height: 5rem;
}

.kingpin-icon {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.tica-card {
  height: 5.5rem;
}

.tica-icon {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.social-media-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.social-media-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon {
  width: 4rem;
  height: auto;
  border: none;
}

.footer-nav-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer-nav > a {
  flex-grow: 1;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  color: black;
}

.footer-nav > a:hover,
.footer-nav > a:focus-visible {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.footer-section2 {
  padding: 1.75rem 0 1.75rem 0;
  background-color: black;
  color: white;
}