.contact_wrapper {
  display: flex;
  padding: 1rem 0 1rem 0;
  width: 80%;
  margin: auto;
}

.contact_wrapper > * {
  flex: 1 0 50%;
}

.contact_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding: 1rem;
  margin: 0 3rem 0 0;
}

.contact_left_text_container {
  justify-self: flex-end;
  line-height: 1.5;
  text-align: right;
}

.contact_left_image_card {
}

.contact_right {
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items:flex-start ;
  width: 80%;
  height: 100%;
  margin: 0 auto 0 2rem;
  transform: translateY(1rem);
}

.contact_form_group {
  width: 80%;
  min-height: 4rem;
}

.contact_form_group > label {
  display:block;
  padding: 0 0 .33rem 0;
}

.contact_form_group > input {
  min-height: 1.5rem;
}

.contact_form_group > textarea {
  height: 10rem;
  resize: none;
}

.contact_form_group > input,
.contact_form_group > textarea {
  width: 100%;
  border-radius: 4px;
  border-color: var(--clr-700);
}

.form_button_container {
  display: flex;
  gap: 2rem;
  margin: .25rem 0 1rem .25rem;
}

.form_button {
  width: 10rem;
  height: 3rem;
  font-size: 1.125rem;
  background-color: var(--clr-500);
  color: white;
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  transition: transform 0.1s ease; 
}

.form_button:hover {
  transform: scale(1.05);
}

.form_button:active,
.form_button:focus {
  transform: scale(0.95);
}