.header-wrapper {
  position: sticky;
  top: 0;
  z-index: 3;
  height: var(--headerSize);
  width: 100%;
  background-color: var(--clr-350);
  padding: 1rem 0 0rem 0; 
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  
}

.header > * {

}

.header-right {
  width: 80%;
  margin: 0 0 0 auto;
  position: relative;
}

.header-right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-right-top > * {
  margin: 0 1rem;
}

.header-favicon-card {
  display: inline-block;
  margin: 0 0 1.25rem auto;
  z-index: 100;
}

.header-favicon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.application-title-wrapper {
  
}

.website-title {
  display: inline-block;
  text-align: left;
  font-size: 60px;
  padding: 1.0625rem 0 0 0;
  text-shadow: 3px 3px 3px white;
}

.header-navigation {
  position: absolute;
  bottom: 1px;
  right: -1px;
  background-color: var(--clr-700);
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3.75rem;
}

.header-navigation > *:last-child {
  border-right: 1px solid var(--clr-400);
}

.header-nav-link {
  border: 1px solid var(--clr-400);
  border-right: none;
  flex: 1  auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-800);
  
}

.header-nav-link:hover,
.header-nav-link:focus-visible {
  background-color: var(--clr-100);
  transform: scale(1.11);
  transition: all .1s ease;
  font-weight:normal;
  z-index: 200;
  border-right: 1px solid var(--clr-400);
}

.header-nav-link:active {
  transform: scale(0.94);
  background-color: var(--clr-500);
  color: var(--clr-100);
  font-weight: 700;
  border: 1px solid var(--clr-400);
}

.header-navlink-with-dropdown {
  position: relative;
}

.header-navlink-dropdown {
  position: absolute;
  background-color: rgb(27, 137, 137);
  width: 100%;
  top: 58px;
  overflow: hidden;
  padding: 1rem;
  z-index: 100;
  transition: all 300ms ease;
}

.header-navlink-dropdown-item {
  background-color: var(--clr-700);
  width: 100%;
  border: 1px solid white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around ;
  padding: 0.25rem;

}

.header-navlink-dropdown-item > * {
  /* flex-grow: 1; */
}

.header-navlink-dropdown-item:active,
.header-navlink-dropdown-item:focus {
  background-color: var(--clr-100);
}

.header-navlink-icon {
  transition: transform 3s ease-in-out;
}

.open-menu {
  transform: scale(1);
}

.close-menu {
  transform: scale(1.1);
}