h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.01em;
  color: var(--clr-500);
  padding: 0.35rem 0;
}

/* #h1 {
} */

#h1TinyScreen {
  font-weight: 650;
  display: none;
}

a, p, span, textarea {
  line-height: 1.5;
}

@media (max-width: 15.3125em) {
  #h1 {
    display: none;
  }

  #h1TinyScreen {
    display: block;
  }
}

h2{
  font-size: var(--fs-900);
}

h3{
  font-size: var(--fs-800);
}

h4{
  font-size: var(--fs-650);
}
h5{
  font-size: var(--fs-600);
  font-weight:700;
  margin: 1rem;
}

/* h6 will be for errors */
h6{
  color:red;
}

/* links */
a:any-link {
  text-decoration: underline;
  text-underline-offset: 5px;
  letter-spacing: 0.02rem;
}

a:hover, a:focus-visible {
  /* color: var(--clr-blue); */
}

a:active {
  /* color: var(--clr-500); */
}
