.iframeWrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.image_container {
  margin: auto;
  position: relative;
}

.image_container_one {
  aspect-ratio: 1 / 1;
  width: 35%;
}

.image_container_two {
  aspect-ratio: 107 / 50;
  width: 45%;
}
.image_container_three {
  aspect-ratio: 77 /100;
  width: 45%;
}
.image_container_four {
  aspect-ratio: 1 / 1;
  width: 45%;
}
.image_container_five {
  aspect-ratio: 5/8;
  width: 45%;
}
.image_container_six {
  aspect-ratio: 98 / 100;
  width: 45%;
}
.image_container_seven {
  aspect-ratio: 1 / 1;
  width: 45%;
}