.iframeWrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.image_container {
  margin: auto;
  position: relative;
}

.image_container_one {
  aspect-ratio: 1 / 1;
  width: 80%;
  margin: 2rem auto;
}

.image_container_two {
  margin: 1rem auto;
  aspect-ratio: 107 / 50;
  width: 85%;
}
.image_container_three {
  aspect-ratio: 100 / 97;
  width: 85%;
}

.image_container_six {
  aspect-ratio: 98 / 100;
  width: 45%;
}
.image_container_seven {
  aspect-ratio: 1 / 1;
  width: 45%;
}
