.myPassionWrapper {
  width: 94%;
  margin: auto;
}

.header {
  margin: 0 0 0 1.25rem
}

.image_container {
  margin: auto;
  position: relative;
}

.image_container_four {
  aspect-ratio: 1 / 1.4;
  width: 65%;
  margin: 1rem auto;
}
.image_container_five {
  aspect-ratio: 5/8;
  width: 45%;
  margin: 1rem auto
}
